@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flex-between{
  @apply flex justify-between items-center
}
.flex-center{
  @apply flex justify-center items-center
}

.wrapper {
  @apply w-36 h-3 rounded-full bg-gray-300 relative overflow-hidden;
}

.bar {
  @apply h-full absolute top-0 left-0 bg-gradient-to-r from-purple-800 to-purple-600;
  animation: loading 2000ms infinite;
}

@keyframes loading {
  0% {
    left: -30%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: -30%;
  }
}
